.container > h1{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.first-row-main-articles{
  padding-top: 150px;
  height: 702.4px;
}

.second-row-main-articles{
  height: 524.5px;
}

nav {
  display: flex;
  height: 60px;
  align-items: center;
}

nav div {
  flex-grow: 1;
  text-align: center;
}

.posts-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.three-articles-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.newsletter-pair {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
footer {
  height: 500px;
  background-color: darkgray;
}

.topics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


