body {
  font-family: 'Dosis', sans-serif;
}

/* NAVBAR */

nav {
  height: 170px;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  background-color: darkgray;
}

nav div {
  flex-grow: 1;
  flex-basis: 100px;
  text-align: center;
}

/* NAVBAR */

.container > h1 {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: white;
  font-size: 32px;
}

.element-level-one{
  background-color: #373637;
}

.first-row-main-articles {
  padding-top: 150px;
  height: 702.4px;
}

.second-row-main-articles {
  height: 524.5px;
}

.posts-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.posts-group article{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 36px;
  border: 1px solid black;
}

.membership {
  height: 465px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  background-color: turquoise;
}

.three-articles-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.newsletter-pair {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
footer {
  height: 500px;
  background-color: darkgray;
}

.topics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


